<div class="grid-bg"></div>

<style>
    .grid-bg {
        position: absolute;
        z-index: -10;
        width: 100vw;
        min-height: 100vh;
        top: 0px;
        background-image: radial-gradient(
            rgba(14, 135, 163, 0.1) 1px, 
            rgba(14, 135, 163, 0) 0px
        );
        background-size: 32px 32px;
    }
</style>