---
interface Props {
    href?: string | undefined;
    title?: string | undefined;
}

const { href, title } = Astro.props;
const isExternal = !href?.startsWith("/") ?? false;

---

<a 
    href={href}
    target={isExternal ? "_blank" : "_self"}
    rel={isExternal ? "no-referrer noopener" : ""}
    title={title ?? ""}>
    <slot/>
</a>

<style lang="scss">
    a {
        color: #97a2bb;
    }
</style>
