.toggle_group {
    display: flex;
    gap: 1rem;
}

.toggle_button {
    --toggle-button-size: 3rem;
    font: inherit;
    cursor: pointer;
    border: none;
    border: 1px solid transparent;
    border-radius: var(--toggle-button-size);
    background: transparent;
    width: var(--toggle-button-size);
    height: var(--toggle-button-size);
    position: relative;

    &::after {
        --toggle-button-size: 1rem;
        content: "";
        position: absolute;
        inset: 0;
        border-radius: var(--toggle-button-size);
        width: var(--toggle-button-size);
        height: var(--toggle-button-size);
        background-color: currentColor;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &[data-selected="true"] {
        border-color: currentColor;
    }
}
