---
import MainHead from '../components/MainHead.astro';
import Header from "../components/HeaderGH.astro";
import GridBg from '../components/GridBg.astro';

import "../styles/styles.scss";
import "normalize.css/normalize.css";
import "../styles/typography.scss";
import "../styles/variables.scss";
import Sidebar from '../components/Sidebar.astro';


interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;

---

<html lang="en">
    <head>
        <MainHead title={title} description={description}/>
    </head>
    <body class="body">
        <GridBg/>

        <div class="layout">
            <div class="layout-content">
                <Header
                    menuItems={[
                        {
                            title: "Resume",
                            href: "/resume"
                        },
                        {
                            title: "Blog",
                            href: "/blog"
                        },
                        {
                            title: "Music",
                            href: "/music"
                        }
                    ]}
                />
                <main class="main">
                    <div class="main-inner">
                        <slot />
                    </div>
                </main>
            </div>
            <Sidebar/>
        </div>
    </body>    
</html>

<style lang="scss">
    body {
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .site-content {
        position: relative;
        margin: auto;
        max-width: 1300px;
        flex: 1;
    }

    main {
        max-width: 900px;
        margin: auto;
    }

    .main-inner {
        margin: 6rem;

        :global(a) {
            color: #97a2bb;
        }
    }

    .layout {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1300px;
        width: 100%;

        > .layout-content {
            flex: 1;
        }
    }

    @media (min-width: 48em) {
        .layout {
            flex-direction: row; 
        }
    }
</style>

